.navbar-custom-bg {
  background-color: #664229;
}

.navbar-brand {
  margin-right: 21px !important;
  font-weight: bold;
  font-size: 2rem !important;
}

.navbar {
  margin-top: 0 !important; /* Set margin-top to 0 */
  margin-bottom: 0 !important; /* Set margin-bottom to 0 */
  padding-top: 0 !important; /* Set padding-top to 0 */
  padding-bottom: 0 !important; /* Set padding-bottom to 0 */
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  margin-left: 21px;
  margin-right: 21px;
}

.pr-8,
.px-8 {
  padding-right: 8rem !important;
}

.pl-8,
.px-8 {
  padding-left: 8rem !important;
}

.img-icon {
  width: 3em;
  height: 3em;
}
